{% extends 'news/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">О нас</h1>
            <p class="lead text-center">Мы - команда энтузиастов, которая находит и делится самыми интересными местами округа. Наша цель - предоставлять информацию о местах, которые стоит посетить каждому.</p>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Наша история</h5>
                    <p class="card-text">Наш проект начался с идеи собрать все самые увлекательные и уникальные места города на одной платформе, чтобы каждый мог легко находить то, что ему интересно.</p>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Команда</h5>
                    <p class="card-text">Мы - команда профессионалов, специализирующихся на поиске и представлении самых захватывающих и занимательных мест в округе. Наш опыт и страсть к путешествиям помогают нам создавать интересные и информативные материалы для наших читателей.</p>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Наши принципы</h5>
                    <ul>
                        <li><strong>Профессионализм:</strong> Мы гордимся своими знаниями и стремимся быть экспертами в области туризма и путешествий.</li>
                        <li><strong>Инновации:</strong> Мы постоянно ищем новые места и предлагаем свежие идеи для наших читателей.</li>
                        <li><strong>Открытость:</strong> Мы ценим обратную связь и создаем доверительные отношения с нашими пользователями.</li>
                    </ul>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Контактная информация</h5>
                    <ul class="list-unstyled">
                        <li><strong>Email:</strong> info@example.com</li>
                        <li><strong>Телефон:</strong> +1234567890</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
